.banner {
  min-height: 100vh;
  min-height: 100svh;
  background-size: cover;
  background-image: url(/assets/images/header.webp), url(/assets/images/header-lores.jpg);
  background-color: var(--av-banner-background-color);

  display: flex;
  justify-content: center;
  flex-direction: column;

  .title-wrapper {
    padding: 3rem 0;

    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 102, 191, 0.5) 35% 75%,
      rgba(255, 255, 255, 0) 100%
    );

    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
  }

  .site {
    &-title {
      margin: 0;
      width: fit-content;

      color: var(--av-banner-text-color);
      font-size: calc(1.625rem + 4.5vw);
      font-weight: 400;
    }

    &-description {
      margin: 0;
      width: fit-content;

      color: var(--av-banner-text-color);
      font-size: calc(0.5rem + 1vw);
      font-weight: 300;
    }
  }
}
