body {
    font-family: 'Inter', sans-serif;
}
#hero-header {
    background-image: linear-gradient(rgba(12, 10, 9, 0.2), rgba(12, 10, 9, 0.5)), url(/assets/images/header.webp), url(/assets/images/header-lores.jpg);
    background-size: cover;
    background-position: center;
}
.hero-text h1, .hero-text p {
      font-family: 'Share Tech Mono', monospace;
}
.text-glow {
    text-shadow: 0 0 8px rgba(0, 170, 255, 0.7), 0 0 15px rgba(0, 170, 255, 0.7), 0 0 25px rgba(0, 170, 255, 0.6);
}
.motto-glow {
    text-shadow: 0 0 8px rgba(192, 132, 252, 0.7), 0 0 15px rgba(192, 132, 252, 0.7);
}
.logo-container img {
    filter: brightness(0) invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.logo-container:hover img {
    opacity: 1;
}
