:root {
  --av-accent-color: #0d6efd;
  --av-background-color: #fff;
  --av-text-color: #212529;

  --av-banner-background-color: #0066bf;
  --av-banner-text-color: #f8f9fa;
}

/* https://www.youtube.com/watch?v=345V2MU3E_w */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

body {
  margin: 0;

  background-color: var(--av-background-color);
  color: var(--av-text-color);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;

  .section {
    padding-top: 2rem;

    &-title {
      font-size: calc(1.375rem + 1.5vw);
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    .partner {
      &-list {
        padding: 0;
      }

      font-size: 1.25rem;
      line-height: 30px;

      display: grid;
      grid-template-areas: "logo lead" "logo skills";
      grid-template-columns: minmax(100px, 300px) auto;
      gap: 2rem;

      justify-items: center;

      padding-top: 2rem;
      padding-bottom: 1rem;
      &:last-child {
        padding-bottom: 0;
      }

      .logo {
        grid-area: logo;
        align-self: center;
      }

      .lead {
        grid-area: lead;
        margin: 0;
        place-self: baseline;
      }

      .skills {
        grid-area: skills;
        place-self: baseline;

        li {
          list-style-type: disc;
        }
      }
    }

    .contact-methods {
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      gap: 1rem;

      padding-top: 2rem;

      .link {
        color: var(--av-accent-color);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    max-width: 95%;

    .section .partner {
      grid-template-areas: "logo" "lead" "skills";
      grid-template-columns: auto;
    }
  }
}
