<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description | escape }}">
    <meta name="author" content="{{ site.author }}">

    <title>{{ site.title }}</title>

    <link rel="dns-prefetch" href="//use.fontawesome.com">    
    
    <link rel="preload" as="image" href="/assets/images/header-lores.jpg" fetchpriority="high">

    <link rel="icon" href="/favicon.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>

    <header class="banner">
      <div class="title-wrapper">
        <h1 class="site-title slide-in-down">{{ site.title }}</h1>
        <h2 class="site-description slide-in-left">{{ site.description }}</h2>
      </div>
    </header>

    <div class="wrapper">

      <section class="section">
        <h2 class="section-title">
          Partners
        </h2>

        <ul class="partner-list">
          <li class="partner">
            <div class="logo">
              <a href="https://www.secretescapes.com/current-sales" target="_blank">
                <img src="/assets/images/clients/secret-escapes.webp" alt="Secret Escapes" 
                />
              </a>
            </div>
            <p class="lead">
              It's an e-commerce portal providing exclusive rates for luxury hotels
              and holidays in the UK and abroad. Good knowledge about social media,
              tracking and understanding users' behaviors, development and
              maintenance of heavily loaded website as keys to success.
            </p>
            <ul class="skills">
              <li>Languages: Groovy, JS, Less</li>
              <li>Technologies: Grails, KnockoutJS, JQuery, Spock</li>
              <li>Databases: MySQL, MongoDB</li>
              <li>
                Other: TDD, Git, Jenkins, Amazon S3, Social Media APIs (Facebook,
                Twitter, Google+), Jira
              </li>
            </ul>
          </li>

          <li class="partner">
            <div class="logo">
              <a href="https://www.sentenial.com/en" target="_blank">
                <img src="/assets/images/clients/sentenial.webp" alt="Sentenial" width="300" height="74"/>
              </a>
            </div>
            <p class="lead">
              Development and maintenance of a existing SEPA Payments batch
              processing engine for handling very large XML files in inter-bank
              exchange as well as supported the development of a UI application for
              the end users.
            </p>
            <ul class="skills">
              <li>Languages: J2EE 5</li>
              <li>
                Technologies: Spring 2/3, Hibernate 3.x, Struts 1, ION, Selenium,
                JMS
              </li>
              <li>Databases: Oracle</li>
              <li>
                Other: JBOSS AS 4, XML, JSP, maven, SVN, Jenkins, Jira, Jabber
              </li>
            </ul>
          </li>

          <li class="partner">
            <div class="logo">
              <a href="https://www.unizeto.pl/" target="_blank">
                <img src="/assets/images/clients/unizeto-technologies.webp" alt="Unizeto Technologies" width="300" height="74"/>
              </a>
            </div>
            <p class="lead">
              All kinds of PKI solutions developed for Java SE, J2EE, Java applets
              and Android devices.
            </p>
            <ul class="skills">
              <li>Languages: J2EE 4/5, JSE5/6/7, Android</li>
              <li>Technologies: EJB, Hibernate, Selenium</li>
              <li>Databases: Oracle, PostgreSQL</li>
              <li>Other: JBOSS AS 4/5, XML, JSP, Ant, SVN, Jira, Bamboo, Jabber</li>
            </ul>
          </li>
        </ul>

      </section>

      <section class="section">
        <h2 class="section-title">
          Where to find me
        </h2>

        <div class="contact-methods">
          <a class="link" href="email:{{ site.email }}" aria-label="My email address" target="_blank">
            <i class="fas fa-envelope fa-3x" aria-hidden="true"></i>
          </a>
          
          <a class="link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="My LinkedIn profile" target="_blank">
            <i class="fab fa-linkedin fa-3x" aria-hidden="true"></i>
          </a>
          
          <a class="link" href="https://github.com/{{ site.github_username }}" aria-label="My GitHub profile" target="_blank">
            <i class="fab fa-github fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </section>

    </div>

    <footer class="footer">
      © 2012-{{ 'now' | date: "%Y" }} {{ site.title }}
    </footer>
  </body>

</html>
